Source: salt-formula-cadf
Maintainer: Petr Michalec <pmichalec@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-cadf
Vcs-Git: https://github.com/tcpcloud/salt-formula-cadf.git

Package: salt-formula-cadf
Architecture: all
Depends: ${misc:Depends}
Description: cadf salt formula
 Install and configure cadf system.
